  
.projects-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-row-gap: 20vh;
  grid-column-gap: 5%;
  margin: 10vw 14vw 14vw 14vw;
}

.project-specs-container {
  color: black;
}

.project-image {
  width: 100%;
  aspect-ratio: 2880 / 1656;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.project-title {
  font-size: 2em;
  margin: 0;
  padding-bottom: 12px;
  font-weight: 400;
}

.project-short-text {
  line-height: 1.4em;
  padding-top: 12px;
  padding-bottom: 12px;
  /* white-space: pre-line; */
}

.tech-logo-container {
  display: flex;
  padding-top: 12px;
}

.tech-logo {
  width: 25px;
  object-fit: contain;
  margin-right: 20px;
  filter: grayscale(1) brightness(1);
  transition: filter 0.1s ease-in-out;
}

.tech-logo:hover {
  filter: initial;
}

.buttons-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 30%; */
  /* margin: 0 auto; */
  /* background: cyan; */
  /* padding: 12px 0; */
}
