  
.projects-container {
  display: grid;
  grid-template-columns: 35% 63%;
  grid-auto-rows: auto;
  grid-row-gap: 20vh;
  grid-column-gap: 5%;
  margin: 8vw 14vw 14vw 14vw;
}

.project-specs-container {
  color: black;
  /* background-color: tomato; */
}

img {
  width: 100%;
  aspect-ratio: auto 200 / 134;
}

.project-title {
  /* font-size: 1.5rem; */
  margin: 0;
}

.project-short-text {
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 12px;
  white-space: pre-line;
}

.tech-logo-container {
  display: flex;
  /* justify-content: space-around; */
  /* width: 50%; */
  /* margin: 0 auto; */
  padding-top: 12px;
  /* padding-right: 12px; */
}

.tech-logo {
  width: 32px;
  object-fit: contain;
  margin-right: 40px;
  filter: grayscale(1) brightness(1);
  transition: filter 0.1s ease-in-out;
}

.tech-logo:hover {
  filter: initial;
}

.buttons-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 30%; */
  /* margin: 0 auto; */
  /* background: cyan; */
  padding: 12px 0;
}
