.custom-message-container {
    width: 50%;
    display: inline-block;
    right: 0;
    text-align: right;
    border: 1px solid green;
}

.custom-message {
    font-size: 1.5em;
    color: white;
    margin-right: 0.2em;
    padding: 1px 6px;
    width: 300px;
    overflow-wrap: normal;
}

.custom-message-text {
    background-color: black;
    padding: 0 2px;
    display: inline-block;
    white-space: nowrap;
}

.custom-message-hide {
    display: none;
}