.custom-message-container {
    width: 50%;
    display: inline-block;
    right: 0;
    text-align: right;
}

.custom-message {
    font-size: 1.5em;
    background-color: black;
    color: white;
    margin-right: 0.2em;
    padding: 1px 6px;
}

.custom-message-hide {
    display: none;
}


@media (max-width: 480px) {
    .custom-message {
        font-size: 0.8em;
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media (min-width: 1441px) {
    .custom-message {
        /* Same font size as H3 */
        font-size: 1.17em;
        margin-top: 0.2em;
        margin-right: 0.8em;
    }

}

@media (min-width: 2160px) {

    .custom-message {
        font-size: 1.755em;
    }

}