.localization-button {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-left: 0.2em;
}

button:hover {
  color: grey;
}

@media (max-width: 480px) {
  .localization-button {
    font-size: 0.8em;
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media (min-width: 1441px) {
  .localization-button {  
    /* Same font size as H3 */
    font-size: 1.17em; 
    margin-left: auto;
  } 

}