button {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.localization-buttons {
  position: relative;
  top: 0;
  left: 0;
}

button:hover {
  color: grey;
}