
.arrow-positioning-context {
  position: relative;
  margin-top: 2em;
  padding-bottom: 10px;
}

.nav-arrow {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.down.nav-arrow-left-tip, 
.down.nav-arrow-right-tip, 
.left.nav-arrow-left-tip, 
.left.nav-arrow-right-tip {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 15px;
  background-color: black;
}

/* For downwards-pointing arrow */

.down.nav-arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.down.nav-arrow-left-tip {
  position: absolute;
  transform: rotate(-55deg);
  left: 6px;
  bottom: 0;
}
.down.nav-arrow-right-tip {
  position: absolute;
  transform: rotate(55deg);
  right: 6px;
  bottom: 0;
}


/* For left-pointing arrow */


.left.nav-arrow-left-tip {
  position: absolute;
  transform: rotate(-45deg);
  left: 18px;
  bottom: 8px;
}
.left.nav-arrow-right-tip {
  position: absolute;
  transform: rotate(45deg);
  right: 6px;
  bottom: 18px;
}