b {
  font-weight: 500;
}

.about-p {
  margin: 0px 280px;
}

.about-header {  
  text-align: center;
}

img {
  width: 50%;
}

.work-button {
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: rotate(270deg);
}

.photo-of-me {
  display: flex;
  justify-content: center;
  margin: 80px;
  transform: rotate(2deg);
}