/* The main header is inline-block to maximize the space on the canvas where the cursor is ew-resize */
.header {
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.header-small {
  text-align: center;
  top: 2px;

  font-size: 20px;
  cursor: pointer;
}

.city {
  /* transition: .2s; */
  cursor: crosshair;
}


.selected {
  /* text-shadow: 0.5px 0.5px grey ; */
  text-shadow: -3px 5px 4px darkgrey
}

@media (max-width: 375px) {
  
  .header {
    display: block;
    margin: 0;
    transform: translate(0, 0);
  }
}