.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 0px 20px;

}

.contact-logos {
  text-decoration: none;
  padding: 10px;
  margin: 0px 10px;
  font-size: 30px;
  color: #111;
  height: 50px;
  float: right;
}

.icons-container {
  position: relative;
  /* bottom: 0px;
  right: 0px; */
  width: 100%;
}

.cv {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  vertical-align: top;
}

.footer-text {
  margin-top: auto;
  margin-right: 10px;
  text-align: right;
}

.footer-text p {
  font-size: 15px;
  line-height: 25px;
  margin: 0px;
}

.email-div {
  text-align: right;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
}
