* {
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  line-height: 30px;
  white-space: pre-line;
}

@font-face {
font-family: "Gambetta";
src: local("Gambettaight"),
 url('./fonts/Gambetta-Light.woff') format('woff');
font-weight: 300;
}

@font-face {
font-family: "Gambetta";
src: local("GambettaBold"),
 url('./fonts/Gambetta-Bold.woff') format('woff');
font-weight: 700;
}

@font-face {
font-family: "Gambetta";
src: local("GambettaBold"),
 url('./fonts/Gambetta-Bold.woff') format('woff');
font-weight: 700;
}


