#root {
  position: relative;
}

* {
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

p {
  font-size: 1.1em;
  line-height: 1.8em;
  white-space: pre-line;
}

.side-button {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 5px;
  top: 50vh;
  transform: rotate(270deg);
}

a {
  text-decoration: none;
  color: black;
}

a:visited { 
 text-decoration: none; 
 color: black; 
}

canvas {
  cursor: ew-resize;
}

@font-face {
  font-family: "Gambetta";
  src: local("Gambettaight"),
  url('./fonts/Gambetta-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "Gambetta";
  src: local("GambettaBold"),
  url('./fonts/Gambetta-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Gambetta";
  src: local("GambettaBold"),
  url('./fonts/Gambetta-Bold.woff') format('woff');
  font-weight: 700;
}

@media (max-width: 480px) {

  .side-button {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    padding-top: 3px;
    transform: rotate(0);
    font-size: 0.8em;
  }
}


