.company-logo-display-container {
  display: flex;
  margin: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.company-logo-display-container img {
  filter: grayscale(1) brightness(1);
  max-width: 100px;
  object-fit: contain;
  margin: 40px 60px;
  transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;

}

.company-logo-display-container img:hover {
  filter: initial;
  transform: scale(1.05);
}

.tech-projects-header {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0;
}

.projects-display-container {
  display: grid;
  grid-column-gap: 8rem;
  grid-row-gap: 4rem;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 5rem;
  color: #fff;
  background-color: transparent;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
}

a {
  display: flex;
}

.small-text {
  font-size: 12px;
}