.company-logo-display-container {
  /* position: center */
  display: flex;
  margin: 0px 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.company-logo-display-container img {
  filter: grayscale(1) brightness(1);
  max-width: 100px;
  object-fit: contain;
  margin: 40px 60px;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.company-logo-display-container img:hover {
  filter: initial;
  transform: scale(1.05);
}

.projects-display-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 290px);
}

.spacing-element-between-logos-and-projects {
  height: 100px;
  position: relative;
}

.grid-item {
  background-color: #bebebe;
  color: #444;
  cursor: pointer;
  /* border-radius: 5px; */
  /* padding: 20px; */
  /* font-size: 20px; */
}

.grid-item img {
  width: 100%;
  display: block;
}

.grid-item div {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.small-text {
  font-size: 12px;
}